*{
    font-family: 'Poppins', sans-serif;
}

body{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/4565.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-box{
    width: 320px;
    height: 350px;
    background: #313e60;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border-radius: 10px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type = "text"], input[type = "password"], input[type = "email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    
}

.login-box button{
    color:#000;
    background-color: #ef965d;
    height: 40px;
    width: 70%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: none;
}

button .login-btn{
    color:#000;
    text-decoration: none;
}



.login-box .auth a{
    padding-top: 10px;
    text-decoration: none;
    color: darkgray;
    line-height: 20px;
}

.login-box a:hover{
    color: #F7DF39;
}