*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

.container{
    display: flex;
}

body{
    background: rgba(226, 226, 226);
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 80px;
    overflow: hidden;
    background: #fff;
    transition: 1s;
}

a{
    position: relative;
    width: 280px;
    font-size: 14px;
    display: table;
    padding: 10px;
    color: rgb(85, 83, 83);
}

nav .fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 20px;
    margin-left: 10px;

}

a:hover{
    background: #eee;
}

a:hover i{
    color: #313e60;
    transition: 0.5s;
}

nav:hover{
    width: 250px;
    transition: 1s;
}

.logo img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}

.logo span{
    padding-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}


.logout{
    position: absolute;
    margin-left: 10px;
    bottom: 0;
  }

.logout span{
    position: absolute;
    bottom: 10px;
}

  /* title */

.main{
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top{
    display: flex;
    width: 100%;
}

.main-top h1{
    text-transform: uppercase;
}

/* start of card */

.main .users{
    display: flex;
    width: 100%;
}

.users .card{
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}

.users .card img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.users .card h4{
    text-transform: uppercase;
}

.users .card p{
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.users table{
    margin: auto;
}

.users .per span{
    
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
}

.users td{
    font-size: 14px;
    padding-right: 15px;
    padding-top: 9px;
}

.users .card button{
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #313e60;
}

.users .card button:hover{
    color: #fff;
    background: #313e60;
    transition: 0.5s;
}

/* end of card */

/* attendance */

.attendance{
    margin-top: 20px;
    text-transform: capitalize;
}

/* start of main table */

.attendance-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}

.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr{
    color: #fff;
    background: #313e60;
    text-align: left;
    font-weight: bold;
}

.table th, .table td{
    padding: 12px 15px;
}

.table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
}

.table tbody tr{
    border-bottom: 1px solid #ddd;
}

.table tbody tr.active{
    font-weight: bold;
    color: #313e60;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid #313e60;
}

.table button{
    padding: 6px 20px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #313e60;
    cursor: pointer;
}

.table button:hover{
    background: #313e60;
    color: #fff;
    transition: 0.5s;
}

/* end of main table */

